/* App.css */
@font-face {
  font-family: "Isocpeur";
  src: url("fonts/isocpeur/isocpeur.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body, .App, .App-header {
  font-family: "Isocpeur", Arial, sans-serif !important;
  font-weight: bold;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 150vh;
  background: 
    linear-gradient(rgb(198, 59, 216), transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen;
  color: #000; /* Default text color */
}

.column {
  float: left;
}

img {
  object-fit: cover;
}

/* Header */
.App-header {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically if needed */
  font-size: calc(10px + 2vmin);
  width: fit-content; /* Adjust width based on content */
  position: fixed; /* Ensure the header stays fixed at the top */
  top: 1vh; /* Float 1vh below the top of the viewport */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  z-index: 1000; /* Ensure it is above other content */
  padding: 1vh;
}

/* Tabs Container */
.tabsContainer {
  position: relative; /* Position relative to allow for positioning inside header */
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Adjust the blur intensity as needed */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border-radius: 10px; /* Radius for rounded corners */
  padding: 1vh; /* Padding for better content spacing */
  color: #000; /* Text color for readability */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for a more polished look */
}


.tabsBackground {
  background-color: transparent; /* Background for Tabs container */
}

/* Tabs and LinkTabs */
.tab {
  color: White; /* Default text color for tabs */
}

.tab.Mui-selected {
  color: White; /* Text color when selected */
  background-color: rgba(116, 116, 116, 0.2); /* Less transparent grey for active tab */
}

.MuiTab-root {
  text-decoration: none !important; /* Ensure no underline */
  border-bottom: none !important; /* Ensure no underline */
}

.MuiTabs-indicator {
  display: none !important; /* Remove default underline indicator */
}

h2 {
  font-size: 6vh;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 2px;
  margin-top:2px;
}

h3 {
  font-size: 4vh;
  margin-bottom: 4px;
  margin-top: 0;
}

h4 {
  font-size: 3vh;
  margin-bottom: 2px;
}

p {
  margin:0;
  font-size: 2vh;
  font-weight: 100;
  padding-bottom: 10px;
}

li{
  margin-bottom: 10px;
}


.CardText{
  font-size: 3vh;
  padding-bottom:2px;
  margin: 0px;
}
p.CardText{
  font-size: 1.75vh;
  font-weight: 100;
}

p.DateContainer{
  font-size: 1.75vh;
  font-weight: 100;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0px;
}

.StyledCardContent{
  display:flex;
  flex-direction: column;
  gap: 10;
  padding-top: 16px;
  flex-grow: 1;
  height: fit-content;
  padding-bottom: 3vh;
  position: relative;
}

.description{
  text-align: justify;
  text-justify: inter-word;
}

.indented {
text-indent: 2vw;
}

/* Masonry Grid */
.masonry-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  width: 100%; /* Full width */
  overflow: hidden; /* Prevent layout jumps */
}

.my-masonry-grid {
  display: flex;
  width: 100%; /* Full width */
  align-items: flex-start; /* Align items to the top */
  padding: 0; /* Remove padding */
  transition: all 0.3s ease-in-out;
  overflow: hidden; /* Prevent layout jumps */
}

.my-masonry-grid_column {
  display: flex;
  flex-direction: column;
  padding: 0 5px; /* Horizontal spacing between items */
}

.my-masonry-grid_column > div {
  margin-bottom: 20px; /* Add vertical spacing between items */
}

/* Add margin-bottom to all the tiles (card items) */
.styledCard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #bf00ff; /* Define this or use a color */
  transition: background-color 0.3s;
  box-sizing: border-box; /* Includes padding and borders in element's total width and height */
  margin-bottom: 10px; /* Add spacing between rows */
}

.styledCard:hover {
  background-color: #bf00ff; /* Hover background color */
  cursor: pointer;
}

.styledCard:focus-visible {
  outline: 3px solid hsla(210, 98%, 48%, 0.5);
  outline-offset: 2px;
}


/* Modal (Image Zoomin)*/
.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: white;
  background-color: rgba(82, 82, 82, 0.345);
  backdrop-filter: blur(8px);
  z-index: 1000;
  transition: all 0.5s;
  opacity: 0; /* Default state */
  display: flex;
  justify-content: center;
  align-items: center; /* Center the content vertically */
}

/* New rule for showing the modal */
.modal.show {
  opacity: 1; /* Visible state */
}

.responsive-image {
  max-width: 100%;
  max-height: 90vh; /* Adjust based on your needs */
  object-fit: contain; /* Ensure the image scales proportionally */
}

.MainImage > * {
  flex: 3; /* Adjust the proportion of space it takes, compared to the stacked images */
  width: 100%;
  height: auto;
}


.FeatureColumn {
  display: flex;
  flex-wrap: wrap; /* Ensure image and text are side by side */
  
}

.FeatureImg {
  width: 100%; /* Adjust width to fit next to the text */
  object-fit: cover;
}

.StackedImg {
  display: flex;
}

.SubImage{
  display:none;
}



/* Layout for phone screens */
.App-content {
  flex: 1;
  padding: 6em 5px 1em;
  color: #ffffff; /* Corrected text color */
  text-align: left; /* Ensure text is aligned to the left */
}

.row {
  width: 100%;
  content: "";
  display: table;
  clear: both;
}

/* Typography Settings */
h1 {
  font-size: 17vw;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.AboutMeIMG {
  height: 45vh;
  width: 100%;
  object-fit: cover;
  overflow:hidden;
}

.AboutMe {
    float: left;
    width: 100%;
    max-width: 90vw;
}

.ProjectImgs0{
  padding: 0px;
}



/* Layout for Tablets */
@media only screen and (min-width:768px){
  .App-content {
    flex: 1;
    padding: 6em 60px 2em;
    color: #ffffff; /* Corrected text color */
    text-align: left; /* Ensure text is aligned to the left */
  }

  h1 {
    font-size: 10vw;
    text-align: left;
  }

  .row {
    width: 100%;
    content: "";
    display: table;
    clear: both;
  }


  .AboutMeIMG {
    height: 50vw;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  
  .AboutMe {
      float: left;
      max-width: 80vw;
  }

  .ProjectImgs0{
    padding: 4px;
  }

  .ImgColumns {
    display: flex;
    gap: 10px;
    width: 100%;
    height: auto; /* Ensure that both the main image and the stacked images are within the same height */
  }
  .MainImage{
    max-height: 60vh;
    object-fit: contain;
  }
  .SubImage{
    display:none;
  }

}
/* Layout for Desktops */
@media only screen and (min-width:1400px){

h1 {
  font-size: 5vw;
}

.about-me-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.about-me-column {
    flex: 1; /* Distributes space evenly */
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.AboutMeIMG {
    max-width: 100%;
    height: auto;
    margin-right: 20px; /* Adds space between the image and text */
}

.AboutMe {
    flex-grow: 1; /* Ensures the text takes up the remaining space */
}

.ProjectImgs {
  padding-top: 20px;
  margin-bottom:0;
}

.ImgColumns {
  height: 75vh;
}


.StackedImg {
  flex: 1; /* The stacked images should take up one-third of the available width */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.StackedImg > * {
  flex: 1; /* Ensure both images in StackedImg take equal space */
  height: calc(50% - 5px);
}

.FeatureColumn {
  gap: 32px;
  margin:0;
  align-items: flex-start; /* Vertically align items if needed */
}

.FeatureImg {
  max-height: 60vh;
  object-fit: contain;
}

.FeatureText {
  flex: 1; /* Take the remaining space next to the image */
  width: 50%; /* Ensure the text section is next to the image */
  align-self: flex-start; /* Align the text to the top left of the column */
}

.MainImage{
  display: flex;
  width: 100%;
}

.SubImage{
  display: flex;
}

.ImgColumns .Layout0{
  width: 70vw;
  height: 100%;
  object-fit: cover;
}

}

