.App {
  text-align: center;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(8px + 2vmin);
  color: white;
  padding: 20px;
}

.App-link {
  font-size: calc(8px + 0.5vmax);
  color: #ffffff;
  text-decoration: none;
  padding: 10px; /* Adds space around the text */
  display: inline-block; /* Ensures padding and border are applied correctly */
  border: calc(0.01 * (4px + 0.25vmax)) solid transparent; /* Border color, set to transparent by default */
}

.App-link:hover {
  color: #ffffff;
  background-color: #555555; /* Optional: Changes background color on hover */
  box-shadow: 0 0 0 2px #ffffff; /* Creates the appearance of a border on hover */
  border-radius: 12px; /* Rounds the corners of the border */
  background-color: #333333; /* Optional: Background color for the link */
}

/* CSS for the Masonry grid */
.my-masonry-grid {
  display: flex;
  margin-left: -15px; /* Adjust to negative half of horizontal spacing */
  width: auto;
}

/* CSS for each column */
.my-masonry-grid_column {
  padding-left: 15px; /* Adjust for horizontal spacing */
  background-clip: padding-box;
}

/* Add spacing between cards */
.my-masonry-grid_column > div {
  margin-bottom: 15px; /* Adjust for vertical spacing between items */
}
